<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Lista mailingowa NKF</title>
  </head>
  <body>
    <header>
    <h1>Lista mailingowa Naukowego Koła Fizyków</h1>
    </header>
    <section>
    <%= yield %>    </section>
    <footer>
    </footer>
  </body>
</html>
