<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Lista mailingowa NKF</title>
  </head>
  <body>
    <header>
      <h1>Lista mailingowa Naukowego Koła Fizyków</h1>
      <% if session[:username] == 'admin' %>
        <nav>
          <ul>
            <li><a href="/admin">Ślij mejl!</a></li>
            <li><a href="/admin/haslo">Zmień hasło!!</a></li>
            <li><a href="/admin/lista">Lista zapisanych!!!</a></li>
          </ul>
        </nav>
        Jesteś zalogowany jako admin. <a href="/logout">Wyloguj się.</a>
      <% end %>
    </header>
    <section>
      <% if flash[:error] %>
        <p><%= flash[:error] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>

      <%= yield %>    </section>
    <footer>
    </footer>
  </body>
</html>
